.container{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container li{
    display: inline-block;
    margin-left: 4px;
}
.container li p {
    padding-left: 15px;
    border-radius: 15px;
    color: grey;
    font-size: small;
} 

.container2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container2 li{
    display: inline-block;
    margin-left: 4px;
}
.container2 li p {
    padding: 4px 10px;
    border-radius: 10px;
    color: grey;
    font-size: small;
}

.container3{
    list-style-type: none;
}


